.tringle{
    width: 70px;
    height: 70px;
    background-color: red;
    clip-path: polygon(0% 0%,0% 100%,100% 100%);
}
.square{
    width: 70px;
    height: 70px;
    background-color: red;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
}